@model ParkingSystem.Models.Subscription

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subscription</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ExpirtionDate, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExpirtionDate)
                @Html.ValidationMessageFor(model => model.ExpirtionDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cost, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cost)
                @Html.ValidationMessageFor(model => model.Cost)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PlaceNumber, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PlaceNumber)
                @Html.ValidationMessageFor(model => model.PlaceNumber)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ParkingId, "ParkingId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ParkingId", String.Empty)
                @Html.ValidationMessageFor(model => model.ParkingId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CarId, "CarId", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CarId", String.Empty)
                @Html.ValidationMessageFor(model => model.CarId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
